.active {
  width: 8rem;
  border: 2px solid rgb(255, 234, 1);
}

.inactive {
  width: 8rem;
  border: none;
}

.hide {
  opacity: 0;
}

.show {
  opacity: 1;
}

.main-img {
  width: 50%;
  transition: 1.5s opacity ease-in-out;
}

@media only screen and (max-width: 768px) {
  .active {
    width: 4rem;
  }
  .inactive {
    width: 4rem;
  }
  .main-img {
    width: 90%;
  }
}