@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Ruda:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: "neontubes";
  src: url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.eot");
  src: url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.eot?#iefix") format("embedded-opentype"),
    url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.woff2") format("woff2"),
    url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.woff") format("woff"),
    url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;500;700;800;900;1000&display=swap');

.container {
  padding: 50px 0px;
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-family: 'Nunito', sans-serif;
}

.parent {
  height: 400px;
  width: 300px;
  padding: 20px;
  perspective: 1000px;
}

.card {
  padding-top: 100px;
  transform-style: preserve-3d;
  background-image: url("https://images.pexels.com/photos/1629236/pexels-photo-1629236.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-position: center center;
  width: 100%;
  transition: all 0.5s ease-in-out;
  border-radius: 10px;
}

.card:hover {
  background-position: 80% 20%;
  transform: rotate3d(0.5, 1, 0, 10deg);
}

.content-box {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.811);
  border-radius: 0px 0px 10px 10px;
  box-shadow: rgba(0, 115, 255, 0.925) 0px 20px 50px -25px;
  transition: all 0.5s ease-in-out;
  padding: 50px 25px 25px 25px;
  transform-style: preserve-3d;
}

.content-box .card-title {
  color: white;
  font-size: 25px;
  font-weight: 900;
  transition: all 0.5s ease-in-out;
  transform: translate3d(0px, 0px, 20px);
}

.content-box .card-title:hover {
  transform: translate3d(0px, 0px, 50px);
}

.content-box .card-content {
  padding-top: 15px;
  font-size: 12px;
  color: #b9b9b9;
  transition: all 0.5s ease-in-out;
  transform: translate3d(0px, 0px, 20px);
}

.content-box .card-content:hover {
  transform: translate3d(0px, 0px, 50px);
}

.content-box .see-more {
  display: block;
  font-weight: 900;
  font-size: 11px;
  text-transform: uppercase;
  color: #08f;
  padding-top: 15px;
  transition: all 0.5s ease-in-out;
  transform: translate3d(0px, 0px, 20px);
}

.content-box .see-more:hover {
  transform: translate3d(0px, 0px, 50px);
}

.date-box {
  position: absolute;
  top: 75px;
  left: 25px;
  height: 60px;
  width: 60px;
  background-color: #000;
  border-radius: 10px;
  padding: 10px;
  box-shadow: #06f 0px 20px 60px 0px, #00c8ff 0px 18px 36px -18px;
  transform: translate3d(0px, 0px, 50px);
}

.date-box span {
  display: block;
  text-align: center;
}

.date-box .month {
  color: white;
  font-size: 11px;
  font-weight: 700;
}

.date-box .date {
  font-size: 20px;
  font-weight: 900;
  color: #08f;
}

html::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  /* IE and Edge */
  overflow-x: hidden;
  background-color: #000000;
}

body {
  margin: 0;
  /* font-family: 'Barlow Condensed', sans-serif; */
  /* font-family: 'Barlow Semi Condensed', sans-serif; */
  /* font-family: 'Montserrat', sans-serif; */
  font-family: "Ruda", sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.stretch-to-screen {
  min-height: 100svh;
}

#landing-video {
  filter: brightness(17%);
  position: absolute;
  z-index: -1;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

/* loading */
.charging-container {
  max-width: 150px;
  width: 100%;
  height: 60px;
  border: 4px solid #2695ff;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
}

.charging-container::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 16px;
  background: #2695ff;
  right: -9px;
  top: 50%;
  margin-top: -8px;
  border-radius: 2px;
}

.charging-container::after {
  content: "";
  position: absolute;
  top: 5px;
  bottom: 5px;
  left: 5px;
  /* right: 10px; */
  background: #2695ff;
  transition: all 0.3s;
  -webkit-animation: charging 2s infinite;
  -moz-animation: charging 2s infinite;
  animation: charging 2s infinite;
  animation: charging 2s infinite;
}

.charging-container:hover::after {
  animation-play-state: paused;
}

@-webkit-keyframes charging {
  from {
    width: 5%;
  }

  to {
    width: 92%;
  }
}

@-moz-keyframes charging {
  from {
    width: 5%;
  }

  to {
    width: 92%;
  }
}

@keyframes charging {
  from {
    width: 5%;
  }

  to {
    width: 92%;
  }
}

@-webkit-keyframes buzz {
  70% {
    opacity: 0.8;
  }
}

@keyframes buzz {
  70% {
    opacity: 0.8;
  }
}

@-webkit-keyframes blink {
  40% {
    opacity: 1;
  }

  42% {
    opacity: 0.8;
  }

  43% {
    opacity: 1;
  }

  45% {
    opacity: 0.2;
  }

  46% {
    opacity: 1;
  }
}

@keyframes blink {
  40% {
    opacity: 1;
  }

  42% {
    opacity: 0.8;
  }

  43% {
    opacity: 1;
  }

  45% {
    opacity: 0.2;
  }

  46% {
    opacity: 1;
  }
}

.neon-btn {
  border: 2px solid #fff;
  box-shadow: 0 0 0 transparent, 0 0 10px #ff003c,
    0 0 20px rgba(255, 0, 60, 0.1), inset 0 0 20px #ff003c, 0 0 100px #ff003c,
    0 0 50px #000000, 0 0 300px #0f0709, 0 0 50px #030202, 0 0 100px #000000;
}

.neon-btn-socod {
  border: 2px solid #fff;
  box-shadow: 0 0 0 transparent, 0 0 10px #0099ff,
    0 0 20px rgba(255, 0, 60, 0.1), inset 0 0 20px #0099ff, 0 0 100px #0099ff,
    0 0 50px #000000, 0 0 300px #0f0709, 0 0 50px #030202, 0 0 100px #000000;
}

.neon-img-bg {
  background-color: #fb2576;
  filter: blur(80px);
  box-shadow: 0 0 0 transparent, 0 0 10px #ff003c,
    0 0 200px rgba(255, 0, 60, 0.1), 0 0 200px #ff003c, 0 0 100px #ff003c,
    0 0 500px #000000, 0 0 500px #0f0709, 0 0 50px #030202, 0 0 1000px #000000;
}

.main {
  font-family: "neontubes";
}

.main span {
  -webkit-transform: translateZ(0) translate3D(0, 0, 0);
  transform: translateZ(0) translate3D(0, 0, 0);
  will-change: opacity;
}

.main .webdev {
  color: #ffd9e2;
  text-shadow: 0 0 0 transparent, 0 0 10px #ff003c,
    0 0 20px rgba(255, 0, 60, 0.5), 0 0 40px #ff003c, 0 0 100px #ff003c,
    0 0 200px #ff003c, 0 0 300px #ff003c, 0 0 500px #ff003c, 0 0 1000px #ff003c;
  -webkit-animation: blink 4s infinite alternate;
  animation: blink 4s infinite alternate;
}

.main .socod {
  color: #d4eaff;
  text-shadow: 0 0 0 transparent, 0 0 10px #0099ff,
    0 0 20px rgba(38, 149, 255, 0.5), 0 0 40px #0099ff, 0 0 100px #0099ff;
  -webkit-animation: buzz 1s infinite alternate;
  animation: buzz 1s infinite alternate;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

.arrow {
  padding: 0.2rem;
  box-shadow: 3px -3px white inset;
  transform: rotate(315deg);
  opacity: 0;
  position: relative;
}

.arrow-one {
  animation: arrowMovement 2s ease-in-out infinite;
}

.arrow-two {
  animation: arrowMovement 2s 1s ease-in-out infinite;
}


@keyframes arrowMovement {
  0% {
    opacity: 0;
  }

  70% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-webkit-keyframes buzz {
  70% {
    opacity: 0.8;
  }
}

@keyframes buzz {
  70% {
    opacity: 0.8;
  }
}

@-webkit-keyframes blink {
  40% {
    opacity: 1;
  }

  42% {
    opacity: 0.8;
  }

  43% {
    opacity: 1;
  }

  45% {
    opacity: 0.2;
  }

  46% {
    opacity: 1;
  }
}

@keyframes blink {
  40% {
    opacity: 1;
  }

  42% {
    opacity: 0.8;
  }

  43% {
    opacity: 1;
  }

  45% {
    opacity: 0.2;
  }

  46% {
    opacity: 1;
  }
}

#about {
  background-image: url("assets/gallery-imgs/w3.webp");
  background-blend-mode: hard-light;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#buytickets {
  background-color: black;
  background-blend-mode: hard-light;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.ticketcard {
  backdrop-filter: blur(10px);
}

@media only screen and (max-width: 768px) {

  /* For mobile phones: */
  .main .webdev {
    color: #ffd9e2;
    text-shadow: 0 0 0 transparent, 0 0 10px #ff003c,
      0 0 20px rgba(255, 0, 60, 0.5), 0 0 40px #ff003c, 0 0 100px #ff003c,
      0 0 200px #000000, 0 0 300px #0f0709, 0 0 500px #030202,
      0 0 1000px #000000;

    animation: blink 4s infinite alternate;
  }

  .video-border {
    border-radius: 1em;
    z-index: 10;
    box-shadow: 0 0 0 transparent, 0 0 100px #0099ff;
  }

  #about {
    background-image: url("assets/gallery-imgs/w1.webp");
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .neon-btn-socod {
    border: 2px solid #fff;
    box-shadow: 0 0 0 transparent, 0 0 10px #0099ff,
      0 0 20px rgba(255, 0, 60, 0.1), inset 0 0 20px #0099ff, 0 0 50px #0099ff,
      0 0 50px #000000, 0 0 300px #0f0709, 0 0 50px #030202, 0 0 100px #000000;
  }

}

.video-border {
  border-radius: 1em;
  box-shadow: 0 0 0 transparent, 0 0 100px #0099ff6e;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-250px * 7))
  }
}

.slider {
  height: 150px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: auto;
}

.slide-track {
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
}

.slide {
  justify-content: center;
  height: 150px;
  width: 250px;
}